### Byte-compiled / optimized / DLL files ###
__pycache__/
pipeline/__pycache__/
*.py[cod]
*$py.class

### Trial tests ###
tests/_trial_temp/*

### Catalogues ###
catalogues_detected/*.csv
catalogues_input/*.csv

### Temporal ###
tmp_galaxies/*.csv
tmp_stars/*.csv

### Plots ###
pipeline/plots/*
performance/output/*
