### Byte-compiled / optimized / DLL files ###
__pycache__/
pipeline/__pycache__/
*.py[cod]
*$py.class

### Trial tests ###
tests/_trial_temp/*

### Catalogues ###
catalogues_detected/*.csv
catalogues_input/*.csv

### Regions ###
false_positives/regions/*.reg

### Temporal ###
tmp_galaxies/*.csv
tmp_stars/*.csv

### Regressions ###
regressions/.Rproj.user/*
regressions/.RData
.Rproj.user
